<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Base Template</title>
</head>
<body>
    <h1>Test Body</h1>
    <div>
        {% block links %}
            <a href="extended">
                Extended
            </a>
        {% endblock links %}
        {% block content %}
            <h2>Группа: {{group}} ({{names|length}})</h2>
            <ul>
                {% for name in names %}
                    <li>{{name|upper}}</li>
                {% empty %}
                    <li>Список пуст</li>
                {% endfor %}
            </ul>
        {% endblock content %}
    </div>
</body>
</html>
